/* Custom Fonts */
@font-face {
  font-family: "Italian Plate No4";
  src: url("fonts/ItalianPlateNo4Display-Medium.otf");
  src: url("fonts/PT-Sans.eot?#iefix") format("embedded-opentype");
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Italian Plate No4", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
h2 {
  font-family: "Italian Plate No4";
  font-style: normal;
  font-weight: 600;
  font-size: normal;
  line-height: 1.5;
  /* identical to box height, or 86% */
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #906f57;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
header {
  background-image: url(../images/vivian-side-cake.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 20% 20%;
  background-size: cover;
  color: white;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  color: #fff;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-top: 5em;
}

.navigation-desktop-mobile {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

nav {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > a {
  text-align: center;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 5em;
}
nav > a:hover {
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  color: rgb(238, 255, 0);
  font-weight: 400;
  font-size: 1.2em;
}
/*------- the Mobile view for the navigation bar------*/
.btn-mbile-nav {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 2em;
  color: white;
  font-size: 1.7em;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.icon-mobile-nav[name="menu-outline"] {
  display: ;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
.logo > a {
  width: 10%;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
}
/* Vivian Story Section */
#about-vivian {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.text-img-vivian {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5em;
  margin-bottom: 10%;
}
.text-img-vivian > img {
  width: 30%;
  height: auto;
}
.text-img-vivian > p {
  width: 20em;
  font-family: "Italian Plate No2";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
h2 {
  font-family: "Italian Plate No4";
  font-style: normal;
  font-weight: 600;
  font-size: normal;
  line-height: 1.5;
  /* identical to box height, or 86% */
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #906f57;
  margin-bottom: 2em;
}

/* Slideshow Styles */
.slide {
  width: 100%;
  position: relative;
  background-image: url(/images/food-1.jpg);
  background-size: contain;
  margin-bottom: 5em;
}
.slide img {
  display: block;
}
.slide-text h3 {
  margin: 0;
}
.cycle-pager {
  position: absolute;
  top: 1.25em;
  z-index: 1003;
  width: 100%;
  text-align: center;
}
.cycle-pager span {
  text-indent: -624.938em;
  display: inline-block;
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.25em;
  cursor: pointer;
}
.cycle-pager .cycle-pager-active {
  background-color: #000;
}
/* Menu from wordpress*/
#fetching-menu {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
  margin-bottom: 5em;
}
.course {
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.course h2 {
  margin-bottom: 0.5em;
}
.course p {
  margin-bottom: 20px;
  padding: 20px;
  line-height: 1.4;
}
.course > img {
  max-width: 100%;
}
/* End Menu Section */
/*Review Section */
#reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  column-gap: 5em;
  margin-bottom: 4em;
}
.img-bio {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-bio > img {
  width: 10.998em;
  height: 10.998em;
  border-radius: 8.196em;
}
.img-bio > p {
  font-style: normal;
  font-weight: 300;
}
.client > p {
  font-family: "Italian Plate No4 Expanded";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}
/*Contact Form */
#contact-form {
  display: flex;
  flex-direction: row;
  column-gap: 4em;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}
#contact-form > img {
  width: 40%;
  height: auto;
}
.submission-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 2em;
  padding: 2rem;
  color: #906f57;
}
label {
  display: block;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid #906f57;
  display: block;
  width: 100%;
  color: #906f57;

  padding: 1rem;
}
#sendBtn {
  border: 0;
  color: #fff;
  background-color: #906f57;
  filter: drop-shadow(0px 12.2034px 12.2034px rgba(0, 0, 0, 0.25));
}
footer {
  margin-bottom: 2%;
}
.footer-section {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 0.125em solid black;
}
.middle-section {
  width: 10em;
}
.middle-section > img {
  width: 100%;
}
.right-section {
  display: flex;
  flex-direction: row;
  column-gap: 10em;
}
.first-line {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  color: #000000;
}
.second-line {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  color: #000000;
}

.first-line > a {
  text-decoration: none;
  font-family: "Italian Plate No4";
  font-style: normal;
  font-weight: 500;
  color: black;
}
.second-line > a {
  text-decoration: none;
  font-family: "Italian Plate No4";
  font-style: normal;
  font-weight: 500;
  color: black;
}

.under-footer {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.under-footer > img {
  width: 5%;
}
.SoMe-icons {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: flex-end;
}
.SoMe-icons > i:hover {
  filter: drop-shadow(0px 12.2034px 12.2034px rgb(160, 6, 6));
}
/*----------Responsive part -------*/
